.loadMoreArticles {
	&:focus, &:hover {
		color: #fff;
		text-decoration: none;
	}
}

.card-lg a.card .content .author {
    background-color: #2a3183;
    color: #fff;
}

.page-content article .author-info {
	padding-bottom: 5px;
}

.page-content article .author-info .name {
	margin-bottom: 8px;
}

.page-content article header {
	margin-bottom: 15px;
}

.media_embed {
	.twitter-tweet {
		margin: 20px auto !important;
	}
	iframe {
		margin: 20px auto !important;
		display: block;
		max-width: 100%;
	}
}

.page-channel .follow {
	background-color: #2a3183;
	border: 0;
}

.page-channel {
	margin-top: 250px;
	@media screen and (max-width: 1150px) {
		margin-top: 100px;
	}
}

.header>div .social-icons a:hover {
	opacity: 1;
}

.page-content article blockquote {
	font-size: 1.125rem;
}