<div class="rounded_footer">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script type="text/javascript">
    /*$('.slick-slider').slick({
        dots: true,
        infinite: false,
        speed: 300,
        slidesToShow: 5,
        infinite: true,
        slidesToScroll: 5,
        responsive: [{
                breakpoint: 1200,
                settings: {
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 1000,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 700,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 520,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            },
        ]
    });*/
    </script>
    <footer class="page_footer">
        <div class="fullbleed container">
            <div class="menu" id="secondary">
                <section class="region region-footer-menu">
                    <div id="block-menu-menu-secondary-menu" class="block block-menu">
                        <div class="content">
                            <ul class="menu">
                                <li class="first leaf"><a href="https://www.gc2018.com/privacy"><span class="text">Privacy</span></a></li>
                                <li class="leaf"><a href="https://www.gc2018.com/accessibility"><span class="text">Accessibility</span></a></li>
                                <li class="leaf"><a href="https://www.gc2018.com/terms-of-use"><span class="text">Terms of use</span></a></li>
                                <li class="leaf"><a href="https://www.gc2018.com/brand-usage" title=""><span class="text">Brand protection</span></a></li>
                                <li class="leaf"><a href="https://www.gc2018.com/Publications" title=""><span class="text">Publications</span></a></li>
                                <li class="leaf"><a href="https://www.gc2018.com/about/contact-us"><span class="text">Contact us</span></a></li>
                                <li class="last leaf"><a href="https://www.gc2018.com/site-map"><span class="text">Site map</span></a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="content_container" id="footer_content">
            <section class="region region-footer-content">
                <div id="block-bean-footer-sponsors-widget" class="block block-bean">
                    <div class="content">
                        <div class="entity entity-bean bean-sponsors-widget bean--footer-sponsors-widget clearfix" about="/block/footer-sponsors-widget" typeof="">
                            <div class="content">
                                <div class="field field-name-field-sponsors field-type-entityreference field-label-hidden">
                                    <div class="field-items slick-initialized slick-slider" role="toolbar">
                                        <div aria-live="polite" class="slick-list draggable">
                                            <div class="slick-track" style="opacity: 1; width: 1250px; left: 0px;" role="listbox">
                                                <div class="field-item even slick-slide slick-current slick-active" style="width: 250px;" tabindex="-1" role="option" aria-describedby="slick-slide10" data-slick-index="0" aria-hidden="false">
                                                    <article about="/sponsor/commonwealth-games-federation" typeof="sioc:Item foaf:Document" class="ds-1col node node-sponsor node-teaser contextual-links-region view-mode-teaser clearfix">
                                                        <a class="content-link" aria-label="Commonwealth Games Federation Logo" href="https://www.thecgf.com/" target="_blank" tabindex="0">
    <img src="https://www.gc2018.com/sites/default/files/logos/Sponsor_CGF_white_1-rs.png" alt="Commonwealth Games Federation Logo">
  </a>
                                                    </article>
                                                </div>
                                                <div class="field-item odd slick-slide slick-active" style="width: 250px;" tabindex="-1" role="option" aria-describedby="slick-slide11" data-slick-index="1" aria-hidden="false">
                                                    <article about="/sponsor/commonwealth-games-australia" typeof="sioc:Item foaf:Document" class="ds-1col node node-sponsor node-teaser contextual-links-region view-mode-teaser clearfix">
                                                        <a class="content-link" aria-label="Commonwealth Games Australia Logo" href="http://commonwealthgames.com.au/" target="_blank" tabindex="0">
    <img src="https://www.gc2018.com/sites/default/files/logos/sponsor_cga_white_v2-rs.png" alt="Commonwealth Games Australia Logo">
  </a>
                                                    </article>
                                                </div>
                                                <div class="field-item even slick-slide slick-active" style="width: 250px;" tabindex="-1" role="option" aria-describedby="slick-slide12" data-slick-index="2" aria-hidden="false">
                                                    <article about="/sponsor/australian-government" typeof="sioc:Item foaf:Document" class="ds-1col node node-sponsor node-teaser contextual-links-region view-mode-teaser clearfix">
                                                        <a class="content-link" aria-label="Australian Government Logo" href="http://www.australia.gov.au/" target="_blank" tabindex="0">
    <img src="https://www.gc2018.com/sites/default/files/logos/Sponsor_AusGov_white-rs.png" alt="Australian Government Logo">
  </a>
                                                    </article>
                                                </div>
                                                <div class="field-item odd slick-slide slick-active" style="width: 250px;" tabindex="-1" role="option" aria-describedby="slick-slide13" data-slick-index="3" aria-hidden="false">
                                                    <article about="/sponsor/queensland-government" typeof="sioc:Item foaf:Document" class="ds-1col node node-sponsor node-teaser contextual-links-region view-mode-teaser clearfix">
                                                        <a class="content-link" aria-label="Queensland Government Logo" href="http://www.qld.gov.au/" target="_blank" tabindex="0">
    <img src="https://www.gc2018.com/sites/default/files/logos/Sponsor_QG_white-rs.png" alt="Queensland Government Logo">
  </a>
                                                    </article>
                                                </div>
                                                <div class="field-item even slick-slide slick-active" style="width: 250px;" tabindex="-1" role="option" aria-describedby="slick-slide14" data-slick-index="4" aria-hidden="false">
                                                    <article about="/sponsor/city-gold-coast" typeof="sioc:Item foaf:Document" class="ds-1col node node-sponsor node-teaser contextual-links-region view-mode-teaser clearfix">
                                                        <a class="content-link" aria-label="City of Gold Coast Logo" href="http://www.goldcoast.qld.gov.au" target="_blank" tabindex="0">
    <img src="https://www.gc2018.com/sites/default/files/logos/Sponsor_City_20of_Gold_20Coast_stacked_white_2-rs.png" alt="City of Gold Coast Logo">
  </a>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="full_bleed" id="blue_bar">
            <section class="region region-footer-text">
                <p>Copyright © 2017 Gold Coast 2018 Commonwealth Games Corporation. All Rights Reserved.</p>
            </section>
            <a href="#top" title="Go to top of page" class="cta">
          <span class="text">Top</span>
      </a>
        </div>
    </footer>
</div>